.v-app-launcher {
    margin-top: 4px;
    margin-bottom: 5px;
}
.app-list.sections {
    bottom: 10px;
}
.app-list.temporary {
    bottom: 90px;
}
.v-app-launcher {
    margin-left: -405px !important;
    width: 810px !important;
}
.v-app-launcher .permanent-app-scroll-panel {
    bottom: 120px;
}
.v-horizontallayout-pageeditor > .v-expand > .v-slot {
    position: absolute;
    margin-left: 0 !important;
    right:0;
}
.v-horizontallayout-pageeditor > .v-expand > .v-slot.v-slot-workbench {
    right: 36px;
}
.v-horizontallayout-pageeditor > .v-expand {
    padding-left: 0 !important;
}
.v-horizontallayout-pageeditor .v-verticallayout-workbench {
    padding-left: 0;
}
.v-horizontallayout-pageeditor .v-verticallayout-editor {
    padding-left: 0px;
}
.v-horizontallayout-pageeditor .v-actionbar {
    background: rgba(102, 102, 102, 0.79);
}
.v-horizontallayout-pageeditor .v-csslayout-actionbar {
    padding-top: 48px;
}
.v-horizontallayout-detail .v-csslayout-detailview .v-panel.v-widget {
    width:100% !important;
}
.v-horizontallayout-detail .v-csslayout-detailview .v-panel.v-widget .AceEditorWidget  {
    min-height: 380px;
}

.neatmagnoliabutton {
    border: 0;
    background: transparent;
    text-decoration: underline;
    color: #689600;
    padding: 0;
}

.v-magnolia-table .v-table-icon-element.icon-node-data {
  margin-left: -20px;
}

.app-list .item {
    border-radius: 12px;
    margin: 0px 15px 0px 0;
}